.containerCardCreator {
    display: flex;
    flex-direction: row-reverse;
    // background: var(--white);
    align-items: center;
    justify-content: center;
    padding: 4rem;
    
    .cardDetails {
        margin-right: 4rem;
    }
}