* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;

    // pallet
    --corn: #FFEC51;
    --lavender: #CDC7E5;
    --violet: #7778BC;
    --red: #FF674D;


    // cards
    --blue-shape: #043142;
    --blue-body: #00ABE7;
    --blue-circle: #26F2FF;

    --green-shape: #1D8564;
    --green-body: #59C9A5;
    --green-circle: #CDF59A;

    --red-shape: #AC1043;
    --red-body: #E92364;
    --red-circle: #FFFD98;

    --dark-shape: #180421;
    --dark-body: #783384;
    --dark-circle: #FF98D6;

    --light-shape: #40484A;
    --light-body: #FEFEFE;
    --light-circle: #D4A601;
    
    // 
    --white: #FFF;

    --gray-50: #F7F8FA;
    --gray-100: #E6E8EB;
    --gray-200: #AFB2B1;
    --gray-500: #808080;
    --gray-800: #494D4B;
  
    --green-500: #04D361;
    
    --purple-300: #9F75FF;
    --purple-400: #9164FA; 
    --purple-500: #8257E5;
    --purple-800: #6F48C9;
}
  @media (min-width: 1920px) {
    html {
      font-size: 120%; // 15px
    }
  }
  @media (max-width: 1080px) {
      html {
        font-size: 93.75%; // 15px
      }
    }
  
  @media (max-width: 720px) {
    html {
      font-size: 87.5%; // 14px
    }
  }

body {
    background: var(--white);
}
body {
    background: var(--gray-50);
  }
  
  body, input, textarea, button {
    font: 500 1rem Inter, sans-serif;
    color: var(--gray-500);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: Lexend, sans-serif;
    color: var(--gray-800);
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  button {
    cursor: pointer;
  }

  .water-1-color{
    background: var(--blue-circle);
  }
  .water-2-color{
    background: var(--blue-body);
  }
  .water-3-color{
    background: var(--blue-shape);
  }
  .water-border{
    border-color: var(--blue-circle) !important;
  }
  .water-color{
    color: var(--blue-shape) !important;
  }

  .fire-1-color{
    background: var(--red-circle);
  }
  .fire-2-color{
    background: var(--red-body);
  }
  .fire-3-color{
    background: var(--red-shape);
  }
  .fire-border{
    border-color: var(--red-circle) !important;
  }
  .fire-color{
    color: var(--red-circle) !important;
  }

  .plant-1-color{
    background: var(--green-circle);
  }
  .plant-2-color{
    background: var(--green-body);
  }
  .plant-3-color{
    background: var(--green-shape);
  }
  .plant-border{
    border-color: var(--green-circle) !important;
  }
  .plant-color{
    color: var(--green-shape) !important;
  }

  .light-1-color{
    background: var(--light-circle);
  }
  .light-2-color{
    background: var(--light-body);
  }
  .light-3-color{
    background: var(--light-shape);
  }
  .light-border{
    border-color: var(--light-circle) !important;
  }
  .light-color{
    color: var(--light-shape) !important;
  }

  .dark-1-color{
    background: var(--dark-circle);
  }
  .dark-2-color{
    background: var(--dark-body);
  }
  .dark-3-color{
    background: var(--dark-shape);
  }
  .dark-border{
    border-color: var(--dark-circle) !important;
  }
  .dark-color{
    color: var(--dark-shape) !important;
  }