    .card{
      display: flex;
      flex-direction: column;
      width:13.12rem;
      height: 18.5rem;
  
      background: #043142;
      border: 2px solid #26F2FF;
      border-radius: 8px;
  
      .cardShape {
        height: 15.93rem;
        margin: 1.29rem  0.94rem 1.29rem  0.94rem;
  
        background: #00ABE7;
        border: 2px solid #26F2FF;
        border-radius: 8px;
        .cardMonster {
          &:first-child {
            top: 50%;
            transform: translate(-20%, -20%);
            background: #043142;
            border-radius: 2.5rem;
            width: 2.24rem;
            height: 2.24rem;
            border: 2px solid #26F2FF;
            font-size: 0;
            display: flex;
            align-items: center; 
            justify-content: center; 
            flex-direction: column; 
          }
        }
        .monsterCircle{ 
          display: flex;
          align-items: center; 
          justify-content: center; 
          flex-direction: column; 
          width: 10.02rem;
          height: 8.75rem;
          margin-left: 0.375rem;
          background: #26F2FF;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 3rem;

          .monsterImage {
            position: absolute;
            width: 8.1925rem;
            height: 5.01rem;
          }
        }
        .monsterTitle{
          font-size: 1rem;
          display: flex;
          justify-content: center;
          margin-top: 0.5rem;
          font-family: 'Rum Raisin', sans-serif;
        }
      }
      .footer{
        align-items: flex-end;
        .status{
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: #26F2FF;
          border-radius: 4px;
          .attrs{
            margin-top: 0.4rem;
            margin-bottom: 0.1rem;
          }
        }
      }
    }